.prev-next {
  text-align: center;
  margin-top: 20px;
}

.button {
  height: 32px;
  width: 100px;
  border-radius: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px lightgrey solid;
  cursor: pointer;
  outline: none;
}

.button:hover {
  border: 1px solid salmon;
  background-color: rgb(255, 227, 232);
}
